.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
    
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: left;
      padding: 0px;
      height:80vh ;
      width: 650px;
      margin: auto;
      padding: 10px;
    }

    .column-1{
      background-color:hsl(31, 77%, 52%);
      padding: 30px;
      text-align: left;
    }

    .column-2{
      background-color:hsl(184, 100%, 22%);
      padding: 30px;
      text-align: left;
      
    }
    .column-3{
      background-color:hsl(179, 100%, 13%);
      padding: 30px;
      text-align: left;
      
    }
    h2{
      text-transform: uppercase;
      color: hsl(0, 0%, 95%);
      font-family: Big Shoulders, sans-serif;
      margin-top: 30px;
      margin-bottom: 0;
      font-weight: 300;
      font-size: 1.9rem;
      
    }
    p{
      color:hsla(0, 0%, 100%, 0.75);;
      font-size: 14px;
      line-height: 1.2rem;;
      font-weight: lighter;
    }

    button{
      background-color: hsl(0, 0%, 95%);;
      border: none;
      height:40px;
      width:120px;
      text-align: center;
      border-radius: 35px;
      margin-top: 30px;
      font-weight: bold;
      
    
    }
    .column-1 button{
      color: hsl(31, 77%, 52%);
    }
    .column-2 button{
      color: hsl(184, 100%, 22%);
    }
    .column-3 button{
      color: hsl(179, 100%, 13%);
    }

    .column-1,.column-2,.column-3{
     display: flex;
     align-items: flex-start;
     flex-direction: column;
    }

    @media( min-width: 200px) and (max-width:1440px){
      .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 250px;
        margin-top: 330px;
        width: 90%;
        padding: 20px;
        margin-left:auto ;
        margin-right:auto ;
      }
      .column-1,.column-2,.column-3{
        width: 80%;
      }
    }